<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LCLunaConfiguration</key>
	<dict>
        <key>emptyFrameTime</key>
        <string>10</string>
		<key>glassesCheckEnabled</key>
		<true/>
		<key>aggregationsForSunglasses</key>
		<false/>
		<key>ocrEnabled</key>
		<false/>
		<key>interactionEnabled</key>
		<true/>
		<key>saveOnlyFaceVideo</key>
		<true/>
		<key>trackFaceIdentity</key>
		<true/>
		<key>occludeCheck</key>
		<true/>
		<key>advancedSunglasses</key>
		<false/>
		<key>videoRecordLength</key>
		<integer>3</integer>
		<key>eyeInjury</key>
		<true/>
		<key>startDelay</key>
		<real>0.5</real>
		<key>faceTime</key>
		<integer>2</integer>
		<key>compressionQuality</key>
		<real>0.8</real>
		<key>documentVerificationMatch</key>
		<real>0.7</real>
		<key>primaryFaceMatching</key>
		<real>0.7</real>
		<key>uploadImagesForLiveness</key>
		<false/>
		<key>plistLicenseFileName</key>
		<string>vllicense.plist</string>
		<key>isShowSwitchCamera</key>
		<false/>
	</dict>
	<key>LCBestShotConfiguration</key>
	<dict>
		<key>livenessType</key>
		<integer>0</integer>
		<key>eyesCheck</key>
		<true/>
		<key>borderDistance</key>
		<integer>25</integer>
		<key>minDetSize</key>
		<integer>250</integer>
		<key>detectorStep</key>
		<integer>7</integer>
		<key>skipFrames</key>
		<integer>36</integer>
		<key>minimalTrackLength</key>
		<integer>6</integer>
		<key>numberOfBestShots</key>
		<integer>1</integer>
		<key>bestShotInterval</key>
		<integer>5</integer>
		<key>livenessQuality</key>
		<integer>0</integer>
	</dict>
	<key>LCInteractionsConfig</key>
	<dict>
		<key>stepsNumber</key>
		<integer>3</integer>
		<key>interactionTimeout</key>
		<integer>5</integer>
		<key>timeoutBetweenInteractions</key>
		<integer>0</integer>
	</dict>
	<key>LCEstimationThreshold</key>
	<dict>
		<key>headPitch</key>
		<integer>25</integer>
		<key>headYaw</key>
		<integer>25</integer>
		<key>headRoll</key>
		<integer>25</integer>
		<key>ags</key>
		<real>0.5</real>
	</dict>
</dict>
</plist>
